@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'sans-serif';
    height: 100vh;
    margin: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 1422 800'%3E%3Cdefs%3E%3ClinearGradient x1='50%' y1='0%' x2='50%' y2='100%' id='oooscillate-grad'%3E%3Cstop stop-color='hsl(206, 75%, 49%)' stop-opacity='1' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='hsl(331, 90%, 56%)' stop-opacity='1' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg stroke-width='2' stroke='url(%23oooscillate-grad)' fill='none' stroke-linecap='round'%3E%3Cpath d='M 0 572 Q 355.5 -100 711 400 Q 1066.5 900 1422 572' opacity='0.79'%3E%3C/path%3E%3Cpath d='M 0 550 Q 355.5 -100 711 400 Q 1066.5 900 1422 550' opacity='0.62'%3E%3C/path%3E%3Cpath d='M 0 528 Q 355.5 -100 711 400 Q 1066.5 900 1422 528' opacity='0.40'%3E%3C/path%3E%3Cpath d='M 0 506 Q 355.5 -100 711 400 Q 1066.5 900 1422 506' opacity='0.22'%3E%3C/path%3E%3Cpath d='M 0 484 Q 355.5 -100 711 400 Q 1066.5 900 1422 484' opacity='0.70'%3E%3C/path%3E%3Cpath d='M 0 462 Q 355.5 -100 711 400 Q 1066.5 900 1422 462' opacity='0.29'%3E%3C/path%3E%3Cpath d='M 0 440 Q 355.5 -100 711 400 Q 1066.5 900 1422 440' opacity='0.61'%3E%3C/path%3E%3Cpath d='M 0 418 Q 355.5 -100 711 400 Q 1066.5 900 1422 418' opacity='0.80'%3E%3C/path%3E%3Cpath d='M 0 396 Q 355.5 -100 711 400 Q 1066.5 900 1422 396' opacity='0.98'%3E%3C/path%3E%3Cpath d='M 0 374 Q 355.5 -100 711 400 Q 1066.5 900 1422 374' opacity='0.21'%3E%3C/path%3E%3Cpath d='M 0 352 Q 355.5 -100 711 400 Q 1066.5 900 1422 352' opacity='0.31'%3E%3C/path%3E%3Cpath d='M 0 330 Q 355.5 -100 711 400 Q 1066.5 900 1422 330' opacity='0.20'%3E%3C/path%3E%3Cpath d='M 0 308 Q 355.5 -100 711 400 Q 1066.5 900 1422 308' opacity='0.40'%3E%3C/path%3E%3Cpath d='M 0 286 Q 355.5 -100 711 400 Q 1066.5 900 1422 286' opacity='0.08'%3E%3C/path%3E%3Cpath d='M 0 264 Q 355.5 -100 711 400 Q 1066.5 900 1422 264' opacity='0.45'%3E%3C/path%3E%3Cpath d='M 0 242 Q 355.5 -100 711 400 Q 1066.5 900 1422 242' opacity='0.48'%3E%3C/path%3E%3Cpath d='M 0 220 Q 355.5 -100 711 400 Q 1066.5 900 1422 220' opacity='0.70'%3E%3C/path%3E%3Cpath d='M 0 198 Q 355.5 -100 711 400 Q 1066.5 900 1422 198' opacity='0.68'%3E%3C/path%3E%3Cpath d='M 0 176 Q 355.5 -100 711 400 Q 1066.5 900 1422 176' opacity='0.48'%3E%3C/path%3E%3Cpath d='M 0 154 Q 355.5 -100 711 400 Q 1066.5 900 1422 154' opacity='0.08'%3E%3C/path%3E%3Cpath d='M 0 132 Q 355.5 -100 711 400 Q 1066.5 900 1422 132' opacity='0.15'%3E%3C/path%3E%3Cpath d='M 0 110 Q 355.5 -100 711 400 Q 1066.5 900 1422 110' opacity='0.70'%3E%3C/path%3E%3Cpath d='M 0 88 Q 355.5 -100 711 400 Q 1066.5 900 1422 88' opacity='0.67'%3E%3C/path%3E%3Cpath d='M 0 66 Q 355.5 -100 711 400 Q 1066.5 900 1422 66' opacity='0.25'%3E%3C/path%3E%3Cpath d='M 0 44 Q 355.5 -100 711 400 Q 1066.5 900 1422 44' opacity='0.26'%3E%3C/path%3E%3C/g%3E%3C/svg%3E")
        no-repeat center center fixed;
    background-size: cover;
    background-color: #f3f3f3;
}

.home-btn {
    background-color: transparent;
    opacity: 0.8;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.page-logo {
    width: 150px;
}

#movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie_card,
.searchMovies {
    background-color: #4caee3;
    border-radius: 5px;
    width: 250px;
    margin: 2rem 1.25rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 2px 5px 20px -3px rgba(0, 0, 0, 0.52);
    height: fit-content;
}

.movie_poster {
    height: 370px;
    object-fit: cover;
}

h4.title {
    color: #fafafa;
    opacity: 0.9;
    margin: 0;
    text-align: center;
    padding: 5px;
}

input.search_movie {
    background-color: #78c2ea;
    color: #fafafa;
    padding: 10px;
    width: 30%;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.search-header {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

i.fa-magnifying-glass {
    font-size: 1.2rem;
}

.search-btn {
    position: relative;
    left: -35px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.search-btn i {
    color: #323232;
}

.search-btn:hover {
    transform: scale(1.15);
}

input.search_movie:focus {
    outline: none;
    background-color: #4caee3;
}

input.search_movie::placeholder {
    color: #323232;
    font-size: 1rem;
}

small.error,
div.error-modal {
    color: rgb(241, 55, 55);
    display: block;
    text-align: center;
    font-size: 1rem;
}

/* ===== Modal ===== */

.modal {
    background-color: #cde8f7;
    position: relative;
    max-width: 850px;
    height: 650px;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 2px 5px 20px -3px rgba(0, 0, 0, 0.52);
}
.modal_header small.modal_rating p:last-child::after {
    content: '/10';
}

.close_modal {
    cursor: pointer;
    float: right;
    background-color: transparent;
    border: none;
    margin: 5px 5px 0 0;
}

.close_modal i {
    font-size: 1.1rem;
    color: #1a1a1a;
}

.modal_main {
    padding: 25px;
}

h2 {
    margin: 0px;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

small.modal_genre {
    flex-basis: 100%;
}

.modal_content {
    display: grid;
    grid-template-columns: 330px auto;
    grid-template-rows: 200px 300px;
}

.modal_cast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 210px;
}

.modal_cast ul {
    margin: 0;
    padding: 0;
}

.modal_cast li {
    list-style: none;
    font-size: 0.8rem;
}

.modal_genre {
    color: rgb(65, 65, 231);
}

.modal_rating p {
    display: inline;
    color: rgb(65, 65, 231);
}

/* ===== Loading spinner ===== */

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ===== Media queries ===== */

@media screen and (max-width: 768px) {
    .modal_poster {
        width: fit-content;
        height: fit-content;
        margin: 5px auto;
    }

    .modal {
        height: 100%;
        width: 85%;
        margin: 40px auto;
        border-radius: 5px;
    }

    .modal_content {
        display: flex;
        flex-direction: column;
    }

    .modal_cast {
        margin-top: 0;
    }

    .modal_cast ul {
        margin-top: 10px;
    }

    .modal_cast li {
        margin-bottom: 5px;
    }

    .modal_header {
        margin-bottom: 10px;
    }

    .modal_header h2 {
        margin: 0 auto;
        font-size: 1.2rem;
    }

    .modal_header small {
        font-size: 0.8rem;
    }

    .modal_header small.modal_genre {
        margin-top: 5px;
    }

    .modal_header small.modal_genre,
    .modal_header small.modal_rating {
        flex-basis: 100%;
    }

    .modal_header small.modal_rating {
        margin: 5px;
        text-align: center;
    }

    .modal_header small.modal_rating p:first-child {
        margin-bottom: 5px;
    }

    .modal_header small.modal_rating p:last-child {
        margin-top: 5px;
    }

    .modal_header small.modal_rating p:last-child::after {
        content: '/10';
    }

    .modal_header small.modal_rating p:last-child span {
        font-size: 0.8rem;
    }
}
