@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'sans-serif';
    height: 100vh;
    margin: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 1422 800'%3E%3Cdefs%3E%3ClinearGradient x1='50%' y1='0%' x2='50%' y2='100%' id='oooscillate-grad'%3E%3Cstop stop-color='hsl(206, 75%, 49%)' stop-opacity='1' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='hsl(331, 90%, 56%)' stop-opacity='1' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg stroke-width='2' stroke='url(%23oooscillate-grad)' fill='none' stroke-linecap='round'%3E%3Cpath d='M 0 572 Q 355.5 -100 711 400 Q 1066.5 900 1422 572' opacity='0.79'%3E%3C/path%3E%3Cpath d='M 0 550 Q 355.5 -100 711 400 Q 1066.5 900 1422 550' opacity='0.62'%3E%3C/path%3E%3Cpath d='M 0 528 Q 355.5 -100 711 400 Q 1066.5 900 1422 528' opacity='0.40'%3E%3C/path%3E%3Cpath d='M 0 506 Q 355.5 -100 711 400 Q 1066.5 900 1422 506' opacity='0.22'%3E%3C/path%3E%3Cpath d='M 0 484 Q 355.5 -100 711 400 Q 1066.5 900 1422 484' opacity='0.70'%3E%3C/path%3E%3Cpath d='M 0 462 Q 355.5 -100 711 400 Q 1066.5 900 1422 462' opacity='0.29'%3E%3C/path%3E%3Cpath d='M 0 440 Q 355.5 -100 711 400 Q 1066.5 900 1422 440' opacity='0.61'%3E%3C/path%3E%3Cpath d='M 0 418 Q 355.5 -100 711 400 Q 1066.5 900 1422 418' opacity='0.80'%3E%3C/path%3E%3Cpath d='M 0 396 Q 355.5 -100 711 400 Q 1066.5 900 1422 396' opacity='0.98'%3E%3C/path%3E%3Cpath d='M 0 374 Q 355.5 -100 711 400 Q 1066.5 900 1422 374' opacity='0.21'%3E%3C/path%3E%3Cpath d='M 0 352 Q 355.5 -100 711 400 Q 1066.5 900 1422 352' opacity='0.31'%3E%3C/path%3E%3Cpath d='M 0 330 Q 355.5 -100 711 400 Q 1066.5 900 1422 330' opacity='0.20'%3E%3C/path%3E%3Cpath d='M 0 308 Q 355.5 -100 711 400 Q 1066.5 900 1422 308' opacity='0.40'%3E%3C/path%3E%3Cpath d='M 0 286 Q 355.5 -100 711 400 Q 1066.5 900 1422 286' opacity='0.08'%3E%3C/path%3E%3Cpath d='M 0 264 Q 355.5 -100 711 400 Q 1066.5 900 1422 264' opacity='0.45'%3E%3C/path%3E%3Cpath d='M 0 242 Q 355.5 -100 711 400 Q 1066.5 900 1422 242' opacity='0.48'%3E%3C/path%3E%3Cpath d='M 0 220 Q 355.5 -100 711 400 Q 1066.5 900 1422 220' opacity='0.70'%3E%3C/path%3E%3Cpath d='M 0 198 Q 355.5 -100 711 400 Q 1066.5 900 1422 198' opacity='0.68'%3E%3C/path%3E%3Cpath d='M 0 176 Q 355.5 -100 711 400 Q 1066.5 900 1422 176' opacity='0.48'%3E%3C/path%3E%3Cpath d='M 0 154 Q 355.5 -100 711 400 Q 1066.5 900 1422 154' opacity='0.08'%3E%3C/path%3E%3Cpath d='M 0 132 Q 355.5 -100 711 400 Q 1066.5 900 1422 132' opacity='0.15'%3E%3C/path%3E%3Cpath d='M 0 110 Q 355.5 -100 711 400 Q 1066.5 900 1422 110' opacity='0.70'%3E%3C/path%3E%3Cpath d='M 0 88 Q 355.5 -100 711 400 Q 1066.5 900 1422 88' opacity='0.67'%3E%3C/path%3E%3Cpath d='M 0 66 Q 355.5 -100 711 400 Q 1066.5 900 1422 66' opacity='0.25'%3E%3C/path%3E%3Cpath d='M 0 44 Q 355.5 -100 711 400 Q 1066.5 900 1422 44' opacity='0.26'%3E%3C/path%3E%3C/g%3E%3C/svg%3E")
        no-repeat center center fixed;
    background-size: cover;
    background-color: black;
}

#movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie_card,
.searchMovies {
    /* background-color: #fefefe; */
    width: 250px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 2px 5px 20px -3px rgba(0, 0, 0, 0.52);
    height: fit-content;
}

h4.title {
    background-color: #213964;
    color: #fafafa;
    opacity: 0.9;
    border-radius: 0px 0px 10px 10px;
    margin: 0;
    text-align: center;
    padding: 5px;
}

input.search_movie {
    background-color: #213964;
    color: #fafafa;
    margin: 1rem auto;
    display: block;
    padding: 10px;
    width: 500px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

input.search_movie:focus {
    outline: none;
    background-color: #594789;
}

input.search_movie::placeholder {
    color: #fafafa;
}

small.error {
    color: rgb(241, 55, 55);
    display: block;
    text-align: center;
    font-size: 1rem;
}

/* ===== Modal ===== */

.modal {
    background-color: #7b7263;
    position: relative;
    max-width: 850px;
    height: fit-content;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 2px 5px 20px -3px rgba(0, 0, 0, 0.52);
}

.close_modal {
    position: absolute;
    left: -12px;
    top: -12px;
    cursor: pointer;
}

.modal_main {
    padding: 25px;
}

h2 {
    margin: 0px;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

small.modal_genre {
    flex-basis: 100%;
}

.modal_content {
    display: grid;
    grid-template-columns: 330px auto;
    grid-template-rows: 200px 300px;
}

.modal_cast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 210px;
}

.modal_cast ul {
    margin: 0;
    padding: 0;
}

.modal_cast li {
    list-style: none;
    font-size: 0.8rem;
}

.modal_genre {
    color: rgb(65, 65, 231);
}

.modal_rating p {
    display: inline;
    color: rgb(65, 65, 231);
}

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
